html{
    background-color: rgb(235, 235, 235);
    text-align: center;
}

#the_bart{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease;
}

.big{
    transform: scale(1.05);
}


